# Logistic Regression
Source: [Logistic Regression](https://towardsdatascience.com/real-world-implementation-of-logistic-regression-5136cefb8125)

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from path import Path

In [2]:
data = Path("Final_Dataset.csv")
df = pd.read_csv(data)
df.head()

,patient_no,gender_numeric,age_range,hypertension_numeric,heart_disease_numeric,smoking_history_numeric,bmi,hba1c_level,blood_glucose_level,diabetes_numeric
0,1,0,5,0,1,0,25.19,6.6,140,0
1,3,1,2,0,0,0,27.32,5.7,158,0
2,4,0,3,0,0,1,23.45,5.0,155,0
3,5,1,5,1,1,1,20.14,4.8,155,0
4,6,0,1,0,0,0,27.32,6.6,85,0

In [3]:
X = df.drop(columns="diabetes_numeric")
y = df["diabetes_numeric"]

In [4]:
X.describe()

,patient_no,gender_numeric,age_range,hypertension_numeric,heart_disease_numeric,smoking_history_numeric,bmi,hba1c_level,blood_glucose_level
count,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000
mean,49915.938692,0.394491,3.324193,0.097890,0.047037,0.390829,28.424120,5.564281,139.628225
std,28887.706887,0.488745,1.614887,0.297169,0.211719,0.487940,6.516199,1.095519,42.165904
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.080000,3.500000,80.000000
25%,24868.750000,0.000000,2.000000,0.000000,0.000000,0.000000,24.600000,4.800000,100.000000
50%,49890.500000,0.000000,4.000000,0.000000,0.000000,0.000000,27.320000,5.800000,140.000000
75%,74953.500000,1.000000,5.000000,0.000000,0.000000,1.000000,31.100000,6.200000,159.000000
max,100000.000000,1.000000,5.000000,1.000000,1.000000,1.000000,91.820000,9.000000,300.000000

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
print(f"Labels: {y[:10]}")
print(f"Data: {X[:10]}")

Labels: 0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    0
8    0
9    0
Name: diabetes_numeric, dtype: int64
Data:    patient_no  gender_numeric  age_range  hypertension_numeric  \
0           1               0          5                     0
1           3               1          2                     0
2           4               0          3                     0
3           5               1          5                     1
4           6               0          1                     0
5           7               0          3                     0
6           9               1          3                     0
7          10               0          2                     0
8          11               0          4                     0
9          12               0          4                     0

   heart_disease_numeric  smoking_history_numeric    bmi  hba1c_level  \
0                      1                        0  25.19          6.6
1                      0                        0  27.32          5.7
2                      0                        1  23.45          5.0
3                      1                        1  20.14          4.8
4                      0                        0  27.32          6.6
5                      0                        0  19.31          6.5
6                      0                        0  33.64          4.8
7                      0                        0  27.32          5.0
8                      0                        0  27.32          6.1
9                      0                        1  54.70          6.0

   blood_glucose_level
0                  140
1                  158
2                  155
3                  155
4                   85
5                  200
6                  145
7                  100
8                   85
9                  100

In [7]:
#Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=1000,
                               random_state=1)

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

In [9]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                  intercept_scaling=1, l1_ratio=None, max_iter=1000,
                  multi_class='warn',n_jobs=None, penalty='l2',
                  random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression(max_iter=1000, multi_class='warn', random_state=1)

In [10]:
predictions = classifier.predict(X_test)

y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            1       1
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       1
17           0       0
18           0       0
19           0       0

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8922472890439985

In [12]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8929743653662388
Testing Data Score: 0.8922472890439985

In [13]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
10189           0       0
26405           0       0
31233           0       0
6408            1       1
16866           0       0
...           ...     ...
2646            1       0
45274           0       0
63110           0       0
612             0       0
61770           0       0

[16046 rows x 2 columns]

In [14]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8922472890439985

In [15]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[14221    66]
 [ 1663    96]]

In [16]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.90      1.00      0.94     14287
           1       0.59      0.05      0.10      1759

    accuracy                           0.89     16046
   macro avg       0.74      0.52      0.52     16046
weighted avg       0.86      0.89      0.85     16046