In [12]:
import pandas as pd
import os
import numpy as np

In [14]:
diabetes_df = pd.read_csv('full_numeric_table.csv')
diabetes_df = pd.DataFrame(diabetes_df)

diabetes_df.head()

,patient_no,gender_numeric,age_range,hypertension_numeric,heart_disease_numeric,smoking_history_numeric,bmi,hba1c_level,blood_glucose_level,diabetes_numeric
0,1,0,5,0,1,0,25.19,6.6,140,0
1,3,1,2,0,0,0,27.32,5.7,158,0
2,4,0,3,0,0,1,23.45,5.0,155,0
3,5,1,5,1,1,1,20.14,4.8,155,0
4,6,0,1,0,0,0,27.32,6.6,85,0

In [15]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092 entries, 0 to 14091
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patient_no               14092 non-null  int64
 1   gender_numeric           14092 non-null  int64
 2   age_range                14092 non-null  int64
 3   hypertension_numeric     14092 non-null  int64
 4   heart_disease_numeric    14092 non-null  int64
 5   smoking_history_numeric  14092 non-null  int64
 6   bmi                      14092 non-null  float64
 7   hba1c_level              14092 non-null  float64
 8   blood_glucose_level      14092 non-null  int64
 9   diabetes_numeric         14092 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 1.1 MB

In [16]:
#Check the value count of ages
age_count = diabetes_df.value_counts("age_range")
age_count

age_range
5    7002
4    2482
3    1791
2    1415
1     894
0     508
dtype: int64

In [17]:
age_df = pd.DataFrame(age_count)
age_df = age_df.reset_index()
age_df.columns = ["age_range", "counts"]
age_df.head()

   age_range  counts
0          5    7002
1          4    2482
2          3    1791
3          2    1415
4          1     894

In [18]:
age_df.sort_values("age_range", ascending=True)

print(age_df)

   age_range  counts
0          5    7002
1          4    2482
2          3    1791
3          2    1415
4          1     894
5          0     508

In [20]:
gender_count = diabetes_df.value_counts("gender_numeric")
gender_count

gender_numeric
0    8026
1    6066
dtype: int64

In [23]:
gender_diagnose = diabetes_df.groupby(["diabetes_numeric", "gender_numeric"])["gender_numeric"].count()
print(gender_diagnose)

diabetes_numeric  gender_numeric
0                 0                 4319
                  1                 2727
1                 0                 3707
                  1                 3339
Name: gender_numeric, dtype: int64

In [24]:
age_diagnose = diabetes_df.groupby(["diabetes_numeric", "age_range"])["age_range"].count()
print(age_diagnose)

diabetes_numeric  age_range
0                 0             469
                  1             824
                  2            1154
                  3            1186
                  4            1191
                  5            2222
1                 0              39
                  1              70
                  2             261
                  3             605
                  4            1291
                  5            4780
Name: age_range, dtype: int64

In [26]:
smoking_diagnose = diabetes_df.groupby(["diabetes_numeric", "smoking_history_numeric"])["smoking_history_numeric"].count()
print(smoking_diagnose)

diabetes_numeric  smoking_history_numeric
0                 0                          4372
                  1                          2674
1                 0                          3818
                  1                          3228
Name: smoking_history_numeric, dtype: int64

In [27]:
health_diagnose = diabetes_df.groupby(["diabetes_numeric", "hypertension_numeric","heart_disease_numeric"])["diabetes_numeric"].count()
print(health_diagnose)

diabetes_numeric  hypertension_numeric  heart_disease_numeric
0                 0                     0                        6278
                                        1                         188
                  1                     0                         526
                                        1                          54
1                 0                     0                        4472
                                        1                         738
                  1                     0                        1522
                                        1                         314
Name: diabetes_numeric, dtype: int64