In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
diabetes_df = pd.read_csv('full_numeric_table.csv')
diabetes_df = pd.DataFrame(diabetes_df)

diabetes_df.head()

,patient_no,gender_numeric,age,age_range,hypertension_numeric,heart_disease_numeric,smoking_history_numeric,bmi,hba1c_level,blood_glucose_level,diabetes_numeric
0,1,0,80.0,5,0,1,0,25.19,6.6,140,0
1,3,1,28.0,2,0,0,0,27.32,5.7,158,0
2,4,0,36.0,3,0,0,1,23.45,5.0,155,0
3,5,1,76.0,5,1,1,1,20.14,4.8,155,0
4,6,0,20.0,1,0,0,0,27.32,6.6,85,0

In [4]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092 entries, 0 to 14091
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patient_no               14092 non-null  int64
 1   gender_numeric           14092 non-null  int64
 2   age                      14092 non-null  float64
 3   age_range                14092 non-null  int64
 4   hypertension_numeric     14092 non-null  int64
 5   heart_disease_numeric    14092 non-null  int64
 6   smoking_history_numeric  14092 non-null  int64
 7   bmi                      14092 non-null  float64
 8   hba1c_level              14092 non-null  float64
 9   blood_glucose_level      14092 non-null  int64
 10  diabetes_numeric         14092 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 1.2 MB

In [5]:
#Check the value count of ages
age_count = diabetes_df.value_counts("age_range")
age_count

age_range
5    7002
4    2482
3    1791
2    1415
1     894
0     508
dtype: int64

In [6]:
age_df = pd.DataFrame(age_count)
age_df = age_df.reset_index()
age_df.columns = ["age_range", "counts"]
age_df.head()

   age_range  counts
0          5    7002
1          4    2482
2          3    1791
3          2    1415
4          1     894

In [7]:
age_df.sort_values("age_range", ascending=True)

print(age_df)

   age_range  counts
0          5    7002
1          4    2482
2          3    1791
3          2    1415
4          1     894
5          0     508

In [33]:
gender_count = diabetes_df.value_counts("gender")
gender_count

gender
Female    38852
Male      25320
Other        12
dtype: int64

In [34]:
gender_diagnose = diabetes_df.groupby(["diabetes", "gender"])["gender"].count()
print(gender_diagnose)

diabetes  gender
f         Female    35145
          Male      21981
          Other        12
t         Female     3707
          Male       3339
Name: gender, dtype: int64

In [35]:
age_diagnose = diabetes_df.groupby(["diabetes", "age"])["age"].count()
print(age_diagnose)

diabetes  age
f         0.16       3
          0.24       5
          0.32       4
          0.40       4
          0.48       4
                  ...
t         76.00    121
          77.00    120
          78.00    114
          79.00    118
          80.00    830
Name: age, Length: 173, dtype: int64

In [36]:
smoking_diagnose = diabetes_df.groupby(["diabetes", "smoking_history"])["smoking_history"].count()
print(smoking_diagnose)

diabetes  smoking_history
f         current             8338
          former              7762
          never              35281
          not current         5757
t         current              948
          former              1590
          never               3818
          not current          690
Name: smoking_history, dtype: int64

In [38]:
health_diagnose = diabetes_df.groupby(["diabetes", "hypertension","heart_disease"])["diabetes"].count()
print(health_diagnose)

diabetes  hypertension  heart_disease
f         f             f                51180
                        t                 1511
          t             f                 3991
                        t                  456
t         f             f                 4472
                        t                  738
          t             f                 1522
                        t                  314
Name: diabetes, dtype: int64