In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
diabetes_df = pd.read_csv('Final_Dataset.csv')
diabetes_df = pd.DataFrame(diabetes_df)

diabetes_df.head()

,patient_no,gender_numeric,age_range,hypertension_numeric,heart_disease_numeric,smoking_history_numeric,bmi,hba1c_level,blood_glucose_level,diabetes_numeric
0,1,0,5,0,1,0,25.19,6.6,140,0
1,3,1,2,0,0,0,27.32,5.7,158,0
2,4,0,3,0,0,1,23.45,5.0,155,0
3,5,1,5,1,1,1,20.14,4.8,155,0
4,6,0,1,0,0,0,27.32,6.6,85,0

In [3]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64184 entries, 0 to 64183
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   patient_no               64184 non-null  int64
 1   gender_numeric           64184 non-null  int64
 2   age_range                64184 non-null  int64
 3   hypertension_numeric     64184 non-null  int64
 4   heart_disease_numeric    64184 non-null  int64
 5   smoking_history_numeric  64184 non-null  int64
 6   bmi                      64184 non-null  float64
 7   hba1c_level              64184 non-null  float64
 8   blood_glucose_level      64184 non-null  int64
 9   diabetes_numeric         64184 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 4.9 MB

In [4]:
#Check the value count of ages
age_count = diabetes_df.value_counts("age_range")
age_count

age_range
5    22312
4    11459
3    10138
2     9347
1     6856
0     4072
dtype: int64

In [5]:
age_df = pd.DataFrame(age_count)
age_df = age_df.reset_index()
age_df.columns = ["age_range", "counts"]
age_df.head()

   age_range  counts
0          5   22312
1          4   11459
2          3   10138
3          2    9347
4          1    6856

In [6]:
age_df.sort_values("age_range", ascending=True)

print(age_df)

   age_range  counts
0          5   22312
1          4   11459
2          3   10138
3          2    9347
4          1    6856
5          0    4072

In [7]:
gender_count = diabetes_df.value_counts("gender_numeric")
gender_count

gender_numeric
0    38864
1    25320
dtype: int64

In [8]:
gender_diagnose = diabetes_df.groupby(["diabetes_numeric", "gender_numeric"])["gender_numeric"].count()
print(gender_diagnose)

diabetes_numeric  gender_numeric
0                 0                 35157
                  1                 21981
1                 0                  3707
                  1                  3339
Name: gender_numeric, dtype: int64

In [9]:
age_diagnose = diabetes_df.groupby(["diabetes_numeric", "age_range"])["age_range"].count()
print(age_diagnose)

diabetes_numeric  age_range
0                 0             4033
                  1             6786
                  2             9086
                  3             9533
                  4            10168
                  5            17532
1                 0               39
                  1               70
                  2              261
                  3              605
                  4             1291
                  5             4780
Name: age_range, dtype: int64

In [10]:
smoking_diagnose = diabetes_df.groupby(["diabetes_numeric", "smoking_history_numeric"])["smoking_history_numeric"].count()
print(smoking_diagnose)

diabetes_numeric  smoking_history_numeric
0                 0                          35281
                  1                          21857
1                 0                           3818
                  1                           3228
Name: smoking_history_numeric, dtype: int64

In [11]:
health_diagnose = diabetes_df.groupby(["diabetes_numeric", "hypertension_numeric","heart_disease_numeric"])["diabetes_numeric"].count()
print(health_diagnose)

diabetes_numeric  hypertension_numeric  heart_disease_numeric
0                 0                     0                        51180
                                        1                         1511
                  1                     0                         3991
                                        1                          456
1                 0                     0                         4472
                                        1                          738
                  1                     0                         1522
                                        1                          314
Name: diabetes_numeric, dtype: int64