In [26]:
import pandas as pd
import os
import numpy as np

In [27]:
diabetes_df = pd.read_csv('clean_dataset.csv')
diabetes_df = pd.DataFrame(diabetes_df)

diabetes_df.head()

,patient_no,gender,age,hypertension,heart_disease,smoking_history,have_ever_smoked,bmi,hba1c_level,blood_glucose_level,diabetes
0,1,Female,80.0,f,t,never,False,25.19,6.6,140,f
1,3,Male,28.0,f,f,never,False,27.32,5.7,158,f
2,4,Female,36.0,f,f,current,True,23.45,5.0,155,f
3,5,Male,76.0,t,t,current,True,20.14,4.8,155,f
4,6,Female,20.0,f,f,never,False,27.32,6.6,85,f

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64184 entries, 0 to 64183
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patient_no           64184 non-null  int64
 1   gender               64184 non-null  object
 2   age                  64184 non-null  float64
 3   hypertension         64184 non-null  object
 4   heart_disease        64184 non-null  object
 5   smoking_history      64184 non-null  object
 6   have_ever_smoked     64184 non-null  bool
 7   bmi                  64184 non-null  float64
 8   hba1c_level          64184 non-null  float64
 9   blood_glucose_level  64184 non-null  int64
 10  diabetes             64184 non-null  object
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 5.0+ MB

In [29]:
#Check the value count of ages
age_count = diabetes_df.value_counts("age")
age_count

age
80.00    3822
51.00    1198
49.00    1172
52.00    1168
53.00    1163
         ...
0.48        4
1.00        4
0.64        3
0.16        3
0.56        2
Length: 101, dtype: int64

In [30]:
age_df = pd.DataFrame(age_count)
age_df = age_df.reset_index()
age_df.columns = ["age", "counts"]
age_df.head()

    age  counts
0  80.0    3822
1  51.0    1198
2  49.0    1172
3  52.0    1168
4  53.0    1163

In [31]:
age_df.sort_values("age", ascending=True)

print(age_df)

       age  counts
0    80.00    3822
1    51.00    1198
2    49.00    1172
3    52.00    1168
4    53.00    1163
..     ...     ...
96    0.48       4
97    1.00       4
98    0.64       3
99    0.16       3
100   0.56       2

[101 rows x 2 columns]

In [33]:
gender_count = diabetes_df.value_counts("gender")
gender_count

gender
Female    38852
Male      25320
Other        12
dtype: int64

In [34]:
gender_diagnose = diabetes_df.groupby(["diabetes", "gender"])["gender"].count()
print(gender_diagnose)

diabetes  gender
f         Female    35145
          Male      21981
          Other        12
t         Female     3707
          Male       3339
Name: gender, dtype: int64

In [35]:
age_diagnose = diabetes_df.groupby(["diabetes", "age"])["age"].count()
print(age_diagnose)

diabetes  age
f         0.16       3
          0.24       5
          0.32       4
          0.40       4
          0.48       4
                  ...
t         76.00    121
          77.00    120
          78.00    114
          79.00    118
          80.00    830
Name: age, Length: 173, dtype: int64

In [36]:
smoking_diagnose = diabetes_df.groupby(["diabetes", "smoking_history"])["smoking_history"].count()
print(smoking_diagnose)

diabetes  smoking_history
f         current             8338
          former              7762
          never              35281
          not current         5757
t         current              948
          former              1590
          never               3818
          not current          690
Name: smoking_history, dtype: int64

In [38]:
health_diagnose = diabetes_df.groupby(["diabetes", "hypertension","heart_disease"])["diabetes"].count()
print(health_diagnose)

diabetes  hypertension  heart_disease
f         f             f                51180
                        t                 1511
          t             f                 3991
                        t                  456
t         f             f                 4472
                        t                  738
          t             f                 1522
                        t                  314
Name: diabetes, dtype: int64